/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

body {
    margin-top: 60px;
    background-color: rgb(145, 144, 144);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-family: 'Poiret One', cursive;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

h2 {
    color: rgb(197, 48, 48);
    font-size:30px;
}

h1 {
    text-align: center;
    font-size: 30px; 
}

#mainNavbar {
    font-weight: 100;
    font-size: 1.5rem;
    background-color:rgb(145, 144, 144) ;
}

#mainNavbar .nav-link {
    color: white;
    text-transform: uppercase;
}

#mainNavbar .nav-link:hover {
    color:#f7ed62;
}

#mainNavbar .navbar-brand {
    font-size: 30px;
    color:rgb(197, 48, 48);
    font-weight: bold;
    padding-right: 25px;
}

.navbar-toggler {
    margin-bottom: 5px; 
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url("img/bg.jpg") center no-repeat; 
    background-size: cover;
    height: 70vh;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 600px;
}

.my-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Poiret One', cursive;
  overflow: hidden;
  color: white;
  letter-spacing: 1px;    
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  border-width: 0;    
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);    
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  outline: none;
  cursor: pointer; 
  width: 300px;
  height: 100px;
}

.kaufen-btn {
    background: -webkit-gradient(linear, left top, right top, from(#e2212b), to(#f7ed62));
    background: -o-linear-gradient(left, #e2212b, #f7ed62);
    background: linear-gradient(90deg, #e2212b, #f7ed62);
}

.my-btn:before, 
.my-btn:after {    
    content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
    height: 100%;
    left: -110%;
    top: 0;
	opacity: 0.1;
	background:  rgb(247, 244, 244); 
    -webkit-transform: skewX(25deg); 
        -ms-transform: skewX(25deg); 
            transform: skewX(25deg);    
    -webkit-transition: .5s ease;    
    -o-transition: .5s ease;    
    transition: .5s ease;
}

.my-btn:hover:before {
    left: -10%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.my-btn:hover:after {
    left: -20%;
    color: white;
}

.daten {
    margin-top: 60px;
    position: absolute;
    background-color: rgba(238, 241, 25, 0.5);
    border-radius: 0 0px 0 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: center;
    margin-bottom: 70px;
    width: 250px;
    top: 0px;
    color: white;
    padding: 5px;
}

#atp-bild {
    margin-top: 60px;
    position: absolute;
    width: 160px;
    top: 0px;
    background-color: rgba(19, 17, 17, 0.7);
    border-radius: 0px 0px 20px 0px;
    -webkit-transition: ease-in 0.5s;
    -o-transition: ease-in 0.5s;
    transition: ease-in 0.5s;
}

#atp-bild:hover {
    background-color:  rgba(236, 33, 18, 0.7);
}

.section1 {
    height: 600px;
    background-color: dimgray;
}

.section-spieler {
    height: 100%;
    background-color: rgb(212, 212, 212); 
    text-align: center;
}

.turnier {
    background: url("img/turnier.jpg") center no-repeat; 
    background-size: cover;
    opacity: 0.75;
}

.fakt {
    position: relative;
    font-size: 25px;
    width: 500px;
    background-color: rgba(207, 55, 8, 0.85);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    max-height: 600px;
    text-align: justify;
    margin-top: 50px;
}

.fakt h1 {
    color: #f7ed62;
}


.spieler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.spieler-container {
    text-align: center;
    width: 320px;
    margin: 20px auto;
    -webkit-perspective: 1200;
    perspective: 1200;
    -moz-transform: perspective(1200px);
    -webkit-transform-style: preserve-3d; 
    transform-style: preserve-3d;
}

.flipper {
    position: relative;
    width: 320px;
    height: 300px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s linear;
    -o-transition: .7s linear;
    transition: .7s linear;
}

.front, .back {
    font-family: 'Cabin', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 40px 20px 20px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
}

.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: white;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #f5f5f5;
}
  
  
h3 {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 15px;
}

p {
    font-size: 14px;
    line-height: 25px;
}

.header h3 {
    color: rgb(197, 48, 48);
}

.front p {
    color: #818285;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background: rgba(238, 241, 25, 0.5);
    color: rgb(197, 48, 48);
}

.back h3 {
    position: relative;
}

.back h3:after {
    content: "";
    width: 50px;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    background: white;
    margin-left: -25px;
}

.back p {
    padding-top: 15px;
}

.spieler-container:hover .flipper {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.mehr-btn {
    width:180px;
    height: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
}

@media (max-width: 1200px) {
    .spieler {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
    }
    .spieler > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1; 
    }
    .spieler > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2; 
    }
    .spieler > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1; 
    }
    .spieler > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2; 
    }
    .fakt {
        font-size: 18px;
        width:480px;
     
    }
    .form-inner input {
        width: 70%;
    }
}

@media (max-width: 740px) {
    .spieler {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr ;
        grid-template-columns: 1fr ;
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .spieler > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .spieler > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .spieler > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .fakt {  
        font-size: 18px;
        width:100%;
        margin: 0;
        margin-top: 60px;
	
     
    }
}

.spieler-img {
    width: 150px;
    border-radius: 50%;
    -webkit-filter: grayscale(0.4);
            filter: grayscale(0.4);
}

.section-spielplan {
    background: url("img/spielplan.jpg") center no-repeat; 
    background-size: cover;
    padding: 20px;
    font-size: 22px;
    height: 100%;
}
.spielplan {
    list-style: none;
    border-left: 15px solid rgb(197, 48, 48);
    padding: 0;

}

.section-spielplan h1, .section-spieler h1{
    font-size: 35px;
    color:rgb(197, 48, 48);
    margin-top: 15px;
    margin-bottom: 20px;
}

.spielplan li {
    padding: 15px;
}

.spielplan li:nth-child(odd) {
    background: rgba(238, 241, 25, 0.7);
    font-weight: bold;
    color: rgb(197, 48, 48);
}

.spielplan li:nth-child(even) {
    background:rgba(175, 175, 175,0.9); 
    font-size: 22px;
    }

dt {
    font-weight: bold;
    color: rgb(197, 48, 48);
    padding: 5px;
}

.transparent {
    position: relative;
    max-width: 100%;
    padding: 60px 50px;
    background-image: url("img/form.jpg");
    background-size: cover;
}

.transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear,left top, right bottom,from(rgba(151, 21, 21, 0.5)),to(rgba(244, 255, 141, 0.5)));
    background: -o-linear-gradient(left top,rgba(151, 21, 21, 0.5),rgba(244, 255, 141, 0.5));
    background: linear-gradient(to right bottom,rgba(151, 21, 21, 0.5),rgba(244, 255, 141, 0.5));
}

.form-inner {position: relative;}
.form-inner h3 {
    position: relative;
    margin-top: 0;
    padding: 10px;
    padding-bottom: 20px;
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
}

.form-inner h3:after {
    content: "";
    position :absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 60px;
}

.form-inner label {
    display: block;
    padding-left: 15px;
    padding-bottom: 15px;
    color: rgba(255,255,255,.6);
    text-transform: uppercase;
    font-size: 20px;
}
.form-inner input {
    display: block;
    width: 70vw;
    padding: 0 15px;
    margin: 0 auto 30px;;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    color: rgb(58, 57, 57);
    background: rgba(255,255,255,.4);
    font-size: 20px;
}

.submit-btn {
    width: 200px;
    height: 50px; 
    font-size: 20px;
    cursor: pointer;
}
