/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* --- Fonts --- */

@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/poiret-one-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Poiret One'), local('PoiretOne-Regular'),
         url('fonts/poiret-one-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/poiret-one-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/poiret-one-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/poiret-one-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/poiret-one-v8-latin-regular.svg#PoiretOne') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/cabin-v14-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Cabin Bold'), local('Cabin-Bold'),
         url('fonts/cabin-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/cabin-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/cabin-v14-latin-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/cabin-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/cabin-v14-latin-700.svg#Cabin') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/cabin-v14-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Cabin Bold Italic'), local('Cabin-BoldItalic'),
         url('fonts/cabin-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/cabin-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/cabin-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/cabin-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/cabin-v14-latin-700italic.svg#Cabin') format('svg'); /* Legacy iOS */
}
 
@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/cabin-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Cabin'), local('Cabin-Regular'),
         url('fonts/cabin-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/cabin-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/cabin-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/cabin-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/cabin-v14-latin-regular.svg#Cabin') format('svg'); /* Legacy iOS */
}

/* --- Generelles--- */

html {
    font-size: 16px;
}

body {
    background-color: rgb(145, 144, 144);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-family: 'Poiret One', cursive;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 1.6rem;
}

h2 {
    color: rgb(197, 48, 48);
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 15px;
}

p {
    font-size: 1rem;
    line-height: 25px;
}

section {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
}

section > h1 {
    text-transform: uppercase;
    padding-top: 1.8rem;
    font-size: 2.2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

/* --- Navbar --- */

#mainNavbar {

    font-size: 1.5rem;
    background-color:rgb(145, 144, 144) ;
}

#mainNavbar .nav-link {
    color: white;
    text-transform: uppercase;
}

#mainNavbar .nav-link:hover {
    color:#f7ed62;
}

#mainNavbar .navbar-brand {
    font-size: 30px;
    color:rgb(197, 48, 48);
    font-weight: bold;
    padding-right: 25px;
}

.navbar-toggler {
    margin-bottom: 5px; 
}

/* --- Header --- */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url("img/bg.jpg") center no-repeat; 
    background-size: cover;
    height: 70vh;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 600px;
}

#daten {
    position: absolute;
    margin-top: 53px;
    background-color:rgba(238, 235, 68, 0.7);;
    border-radius: 0 0px 0 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: center;
    margin-bottom: 60px;
    width: 230px;
    top: 0px;
    color: white;
    padding: 5px;
}

#daten h1 {
    font-size: 1.5rem;
}

#atp-bild {
    position: absolute;
    margin-top: 55px;
    width: 135px;
    top: 0px;
    background-color: rgba(19, 17, 17, 0.7);
    border-radius: 0px 0px 20px 0px;
    -webkit-transition: ease-in 0.5s;
    -o-transition: ease-in 0.5s;
    transition: ease-in 0.5s;
}

#atp-bild:hover {
    background-color:  rgba(236, 33, 18, 0.7);
}

/* --- Button Styles ---  */

.my-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: 'Poiret One', cursive;
    overflow: hidden;
    color: white;
    letter-spacing: 1px;    
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    border-width: 0;    
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);    
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    outline: none;
    cursor: pointer; 
    width: 300px;
    height: 100px;
}
  
.tickets-btn {
    background: -webkit-gradient(linear, left top, right top, from(#e2212b), to(#f7ed62));
    background: -o-linear-gradient(left, #e2212b, #f7ed62);
    background: linear-gradient(90deg, #e2212b, #f7ed62);
}
  
.my-btn:before, 
.my-btn:after {    
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: -110%;
    top: 0;
    opacity: 0.1;
    background:  rgb(247, 244, 244); 
    -webkit-transform: skewX(25deg); 
        -ms-transform: skewX(25deg); 
            transform: skewX(25deg);    
    -webkit-transition: .5s ease;    
    -o-transition: .5s ease;    
    transition: .5s ease;
}
  
.my-btn:hover:before {
    left: -10%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
  
.my-btn:hover:after {
    left: -20%;
    color: white;
}

/* --- Section Turnier --- */

#section-turnier {
    background: url("img/turnier.jpg") center no-repeat; 
    background-size: cover;
    opacity: 0.75;
    max-height: 500px;
    height: 600px;
}

#fakt {
    position: relative;
    width: 500px;
    max-height: 500px;
    background-color: rgba(192, 38, 17, 0.9);
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    margin-left: 20px;
    text-align: justify;
    margin-top: 50px;
    opacity: 100%;
}

#fakt > h1 {
    color: #f7ed62;
    padding-top: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
}

#fakt > li {
    font-size: 1.2rem;
}

/* --- Section Spieler --- */

#section-spieler {
    height: 100%;
    background-color: rgb(212, 212, 212); 
    text-align: center;
}

#section-spieler h1{
    color:rgb(197, 48, 48);
}

.spieler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.mehr-btn {
    width: 180px;
    height: 80px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.spieler-img {
    width: 150px;
    border-radius: 50%;
    -webkit-filter: grayscale(0.4);
            filter: grayscale(0.4);
}

/* ---  Spieler Flip Cards --- */

.spieler-container {
    text-align: center;
    width: 320px;
    margin: 20px auto;
    -webkit-perspective: 1200;
    perspective: 1200;
    -moz-transform: perspective(1200px);
    -webkit-transform-style: preserve-3d; 
    transform-style: preserve-3d;
}

.flipper {
    position: relative;
    width: 320px;
    height: 300px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s linear;
    -o-transition: .7s linear;
    transition: .7s linear;
}

.front, .back {
    font-family: 'Cabin', sans-serif; 
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 40px 20px 20px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
}

.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: white;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #f5f5f5;
}
  
.header h3 {
    color: rgb(197, 48, 48);
    font-weight: bold;
}

.front p {
    color: #818285;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background: rgba(255, 253, 143, 0.9);;
    color: rgb(197, 48, 48);
}

.back h3 {
    position: relative;
    font-weight: bold;
}

.back h3:after {
    content: "";
    width: 50px;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    background: white;
    margin-left: -25px;
}

.back p {
    padding-top: 15px;
}

.spieler-container:hover .flipper {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* --- Section Spielplan --- */

#section-spielplan {
    background: url("img/spielplan.jpg") center no-repeat; 
    background-size: cover;
    padding: 2rem .5rem 2rem .5rem;
    font-size: 1.2rem;
    height: 100%;
}

#section-spielplan > h1 {
    background-color: rgba(151, 151, 151, 0.9);
    margin-bottom: 0;
}

.spielplan {
    list-style: none;
    border-left: 10px solid rgb(197, 48, 48);
    padding: 0;
}

.spielplan li {
    padding: 1rem;
}

.spielplan li:nth-child(odd) {
    text-align: center;
    background:  rgb(255, 253, 143);
    font-weight: bold;
    color:  rgb(78, 76, 76);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.spielplan li:nth-child(even) {
    background:rgba(148, 147, 147, 0.96); 
    font-size: 1.3rem;
}

dt {
    font-weight: bold;
    color:  rgb(255, 253, 143);
    padding: 5px;
}

/* --- Section Kontakt-Form --- */

#section-contact {
   padding: 0;
}

.transparent {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 2rem 2rem;
    background-image: url("img/form.jpg");
    background-size: cover;
}

.transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear,left top, right bottom,from(rgba(151, 21, 21, 0.5)),to(rgba(244, 255, 141, 0.5)));
    background: -o-linear-gradient(left top,rgba(151, 21, 21, 0.5),rgba(244, 255, 141, 0.5));
    background: linear-gradient(to right bottom,rgba(151, 21, 21, 0.5),rgba(244, 255, 141, 0.5));
}

.form-inner {position: relative;}
.form-inner h3 {
    position: relative;
    margin-top: 0;
    padding: .5rem;
    padding-bottom: 1.2rem;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

.form-inner h3:after {
    content: "";
    position :absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 60px;
}

.form-inner label {
    display: block;
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: rgba(255,255,255,.7);
    text-transform: uppercase;
    font-size: 1.3rem;
}

.form-inner input {
    display: block;
    width: 60%;
    max-width: 600px;
    padding: 0 1rem;
    margin: 0 auto 2rem;;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    color: rgb(58, 57, 57);
    background: rgba(255,255,255,.6);
    font-size: 1.4rem;
}

.submit-btn {
    width: 200px;
    height: 50px; 
    font-size: 1.4rem;
    cursor: pointer;
}

/* --- @media queries--- */

@media (max-width: 1200px) {

    #fakt {
        font-size: 1rem;
        width: 500px;
     
    }

    .spieler {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
    }

    .spieler > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1; 
    }

    .spieler > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2; 
    }

    .spieler > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1; 
    }

    .spieler > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2; 
    }

    .form-inner input {
        width: 70%;
    }
}

@media (max-width: 740px) {

    #fakt {  
        font-size: 18px;
        width:100%;
        margin-left: 0;
        margin-top: 60px;
        border-radius: 0;
        padding-bottom: 2rem;
    }

    #fakt > h1 {
        padding-bottom: 1rem;
    }

    #fakt > li {
        padding-left:1rem;
        padding-right:1rem;
    }

    .spieler {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr ;
        grid-template-columns: 1fr ;
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .spieler > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .spieler > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .spieler > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    
}
@media (max-width: 500px) {

    #daten {
        background-color:rgba(218, 218, 55, 0.9);;
    }

    #fakt {
        margin-top: 0;
    }

    .form-inner input {
        width: 100%;
    }

    .form-inner {
        padding-left: 0;
    }

}   

@media (max-width: 320px) {
    #atp-bild {
        display: none;
    }
}
